<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormsApp3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinFormsApp3.Properties.Settings>
            <setting name="testdt" serializeAs="String">
                <value>2025/03/09</value>
            </setting>
            <setting name="tzst" serializeAs="String">
                <value>America/New_York</value>
            </setting>
        </WinFormsApp3.Properties.Settings>
    </userSettings>
</configuration>